@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
/**/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    
    
}



nav{/*le agremagos sombra a nuetro navbar*/
    box-shadow: 0 0 2rem -1rem; 
    background-color: orange;

}

.bodyubi{
    background-color: black;
}




/*::: animacion subrayado de items en navBar :::*/

.animation ul li a{ /**/
    position: relative;/*la nacesitamos porque trabajaremos con after y before*/
    display: block;

}

.animation ul li a::before{/**/
    content: '';
    position: absolute;
    bottom: 0;/*posicionamos la linea por debajo del item*/
    left: 0;/*donde empieza la linea*/
    width: 0;
    height: .2rem;/*modifica la altura de la linea*/
    background: #579d9c;
    transition: .5s;/*modifica la velocidad de la transicion*/
}

.animation ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;/*posicionamos la linea por debajo del item*/
    right: 0;
    width: 0;
    height: .2rem;
    background: black;
    transition: .5s;
}

.animation ul li:hover a{
    color:white;
}

.animation ul li:hover a::before{
    width: 50%;/*es el ancho de la linea en el item*/
    transform: translate(100%);/*es el recorrido que hace la animacion en el item*/

}

.animation ul li:hover a::after{
    width: 50%;
    transform: translate(-100%);
}

/*::: section de instalaciones en pag inicio :::*/
.container{
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.row{
     margin: 20px;
}
/*::: fin section de instalaciones en pag inicio :::*/

/*::: inicio de card de subscribirme :::*/

.contenedor{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)),url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/entrenador-personal-curso-1560362520.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    
    

}


.contenedor1{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)),url(https://bilbao.fisio-clinics.com/sites/default/files/styles/cabecera_articulo/public/field/image/funcional_bilbao.jpg?itok=34o52Hp4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;

}

/*::: fin inicio de card de subscribirme :::*/


/*::: section de cards de promociones:::*/
.contentcards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background: white;
}


.carta{
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8 );
    min-height: 75vh;
    
}

.carta img{

    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .5s;

}


.content h2{
    font-size: 2em;
    line-height: 1.6em;
    color: #808080; 
    margin: 10px 0;
}

.content p{
    color: white;
    font-size: 1.5em;
 
}


.carta:hover .content{
    opacity: 1;
    border-radius: 5px;
}

.carta:hover{
    transform: translateY(-3%);
    
}

/*::: fin de section de cards de promociones:::*/

/*:::: Pie de pagina ::::*/

.pie-pagina{
    width: 100%;
    background-color: gray;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*::: box img logo ::: */
.pie-pagina .grupo-1 .box figure img{
    width: 25px;
}

/*:::box acerca de  :::*/


.box ul li {
    list-style: none;
    
}

.box ul li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.box ul li a:hover{
    
    color: black;
    

}
/*---------------------------------------PROMOCIONES----------------------------------------------------------------------*/













/*---------------------------------------PROMOCIONES----------------------------------------------------------------------*/

/* ::: box redes sociales :::*/
.redes-container{
    display: flex; /**/
    align-items: center;/*alinea item al centro*/
    justify-content: center;/**/
}



.redes-container ul li{
    display: inline-block;/*se alinean horizontalmente y quita los puntos de referencia*/
    margin: 0 5px;/*margen*/
    width: 50px;/*ancho*/
    height: 50px;/*altura*/
    text-align: center;/*se alinean el elemento a al centro*/

}

.redes-container ul li a{
    display: block;/**/
    padding: 0 10px;/**/
    background: #333;/*fondo*/
    color: #ffff;/*color de items*/
    line-height: 50px;/*tamaño de altura para fondo cuadrado*/
    font-size: 10px;/*tamaño de fuente*/
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2 );/*sombra de cuadrado*/
    transition: .2s;/**/
}

.redes-container ul:hover a{
    filter: blur(2px);/*desenfoca todos los items*/
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);/*translateY hace que elitem crezca hacia arriba*/
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4 );
    filter:none;/*hace que no se desenfoque el item apuntado*/
}

 /*::: Agregamos colores individuales a los items :::*/
.redes-container ul li .facebook:hover{
    background: cornflowerblue;
}
.redes-container ul li .instagram:hover{
    background: rgb(232, 55, 117);
}
.redes-container ul li .twitter:hover{
    background: #55acee;
}
.redes-container ul li .pinterest:hover{
    background: black;
}
.redes-container ul li .youtube:hover{
    background: red;
}








.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/*::: footer responsive :::*/
@media screen and (max-width: 800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
};